.text-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  place-items: center;
  position: relative;
}

.text-box:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 190, 0, 0.6);
}

.text-box h1 {
  font-size: 60px;
  line-height: 160px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(Img/back.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  background-size: cover;
  animation: back 25s linear infinite;
  position: relative;
  z-index: 1;
}

@keyframes back {
  100% {
    background-position: 9000px 0;
  }
}

@media only screen and (max-width: 768px) {
  .text-box h1 {
    font-size: 50px;
    line-height: 80px;
    -webkit-text-stroke: 2px #fff;
  }
}

@media only screen and (max-width: 768px) {
  .text-box h1 {
    font-size: 30px;
    line-height: 50px;
    -webkit-text-stroke: 1px #fff;
  }
}

/* cards */
.mi-seccion {
  position: relative;
  height: 100%;
  background-color: #323232;
  font-family: Helvetica Neue, Helvetica;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0%;
}

.mi-seccion .swiper {
  width: 100%;
  padding: 20px 0;
  /* Reducir aún más el padding superior e inferior */
}

.mi-seccion .swiper-slide {
  width: 300px;
  height: 500px;
  background-color: #323232;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 10px;
  /* Reducir aún más el padding */
  text-align: center;
}

.mi-seccion .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  /* Reducir el margin-top */
}

.mi-seccion .icons i {
  font-size: 20px;
  color: rgba(38, 190, 0, 0.6);
}

.mi-seccion .icons img {
  width: 120px;
}

.mi-seccion .product-content {
  display: flex;
  justify-content: space-between;
}

.mi-seccion .product-txt {
  flex-basis: 50%;
  text-align: left;
}

.mi-seccion .product-txt span {
  font-size: 25px;
  color: rgba(38, 190, 0, 0.6);
  font-weight: bold;
}

.mi-seccion .product-txt h3 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.mi-seccion .product-txt p {
  font-size: 14px;
  color: #c4c4c4;
}

.mi-seccion .product-img img {
  width: 120px;
}

.mi-seccion .btn-1 {
  display: inline-block;
  padding: 13px 55px;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  /* Reducir aún más el margin-top */
}