.infocards .body {
	color: white;
	font-family: "Lato";
	padding: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.infocards .media {
	background-position: center;
	background-size: cover;
	height: 100%;
	position: absolute;
	transition: all 0.3s ease;
	width: 100%;
	border-radius: 15px;
	/* Asegurarse de que las esquinas redondeadas se apliquen a la imagen también */
}

.infocards figure {
	height: 370px;
	overflow: hidden;
	position: relative;
	border-radius: 15px;
	/* Agregar esquinas redondeadas */
	margin: 10px;
	/* Agregar margen alrededor de las tarjetas */
}

.infocards figure a {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
}

.infocards figure:hover .media {
	transform: scale(1.25);
}



.infocards svg {
	height: inherit;
	width: 100%;
}

.infocards svg text {
	text-anchor: middle;
}



.infocards svg .title {
	font-size: 24px;
	/* Reducir el tamaño de la fuente */
	letter-spacing: 3px;
	/* Reducir el espaciado entre letras */
	font-family: "Montserrat";
}

.infocards svg #base1,
.infocards svg #base2,
.infocards svg #base3 {
	fill: white;
	-webkit-mask: url(#mask1);
	mask: url(#mask1);
}

.infocards svg #base2 {
	-webkit-mask: url(#mask2);
	mask: url(#mask2);
}

.infocards svg #base3 {
	-webkit-mask: url(#mask3);
	mask: url(#mask3);
}

.infocards .body p {
	font-size: 14px;
	/* Reducir el tamaño de la fuente del párrafo */
	line-height: 1.2;
	/* Ajustar el espaciado entre líneas */
}