.SubDivMD {
    display: flex;
    justify-content: space-around;
    font-family: 'Monserrat', sans-serif;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-bottom: 30px;
}

.SubDivMD2 {
    display: flex;
    align-content: flex-start;
    font-family: 'Monserrat', sans-serif;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    margin-left: 20px;
}

.SubDivMD3 {
    display: flex;
    align-content: flex-start;
    font-family: 'Monserrat', sans-serif;
    padding: 10px;
    font-size: 15px;
    opacity: 0.5;
    justify-content: space-between;
    margin-left: 20px;
}

.DivMD {
    height: 270px;
    display: none;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px gray;
    border: none;
}

.SubDivMdBtn {
    display: flex;
    align-content: flex-start;
    padding: 10px;
    justify-content: space-around;
}

.BtnMdEditar {
    color: white;
    border: none;
    background-color: #23c01e;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    height: 50px;
    width: 200px;
}

.BtnMdEditar:hover {
    border: 2px solid black;
    cursor: pointer;
}

.InputMD {
    padding: 6px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 40%;
}

.InputMD:hover {
    border-color: #23c01e;
}

@media (max-width: 600px) {
    .SubDivMD,
    .SubDivMD2,
    .SubDivMD3,
    .DivMD,
    .SubDivMdBtn,
    .InputMD {
        width: 100%;
    }

    .BtnMdEditar {
        width: 100%;
        height: auto;
    }
}
