.SubDivS {
    display: flex;
    justify-content: space-around;
    font-family: 'Monserrat', sans-serif;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-bottom: 30px;
}

.DivS {
    height: 165px;
    display: none;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px gray;
    border: none;
}

.DivS2 {
    height: 460px;
    display: none;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px gray;
    border: none;
}

.SubDivSBtn {
    justify-content: space-around;
    display: flex;
    padding: 10px;
    margin-left: 20px;
}

.SubDivS2 {
    justify-content: space-around;
    display: flex;
    font-family: 'Monserrat', sans-serif;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.SubDivS3 {
    justify-content: space-around;
    display: flex;
    font-family: 'Monserrat', sans-serif;
    padding: 10px;
    font-size: 15px;
    opacity: 0.5;
    margin-left: 20px;
}

.BtnSEditar {
    color: white;
    border: none;
    background-color: #23c01e;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    height: 50px;
    width: 200px;
}

.BtnSEditar:hover {
    border: 2px solid black;
    cursor: pointer;
}

.InputS {
    padding: 6px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 40%;
}

.InputS:hover {
    border-color: #23c01e;
}

.checkboxS {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .SubDivS,
    .DivS,
    .DivS2,
    .SubDivSBtn,
    .SubDivS2,
    .SubDivS3,
    .InputS {
        width: 100%;
    }

    .BtnSEditar {
        width: 100%;
        height: auto;
    }
}
